* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
.container {
  padding: 20px;
}
.btn {
  margin-top: 10px;
}

.msg {
  background-color: rgb(60, 240, 60);
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
  margin-top: 10px;
}
